<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :invoice_date %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :invoice_photo %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :invoice_value %>
  </div>

  <div class="field">
    <%= form.label :vat %>
    <%= form.text_field :vat, id: :invoice_vat %>
  </div>

  <div class="field">
    <%= form.label :payable %>
    <%= form.text_field :payable, id: :invoice_payable %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :invoice_user_id %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.number_field :category, id: :invoice_category %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.text_field :order, id: :invoice_order %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid, id: :invoice_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
