= semantic_form_for @user, url: @user.new_record? ? users_path : user_path(@user) do |f|
  = f.input :surname, label: 'Επώνυμο', as: :string, input_html: { autofocus: true }
  = f.input :name
  = f.input :father
  = f.input :telephone
  = f.input :mobile
  = f.input :dob
  = f.input :email
  = f.input :address
  = f.input :activity

  = f.submit 'Αποθήκευση', class: 'btn btn-primary'
