.page-header
  %h1 Χρήστες
  .text-muted
    Όλοι οι χρήστες

%table.table.table-bordered
  %thead
    %tr
      %th Επίθετο
      %th Όνομα
      %th Όνομα Πατρός
      %th Σταθερό τηλέφωνο
      %th Κινητό τηλέφωνο
      %th Ημ/νία Γέννησης
      %th Email
      %th Διεύθυνση
      %th Δραστηριότητα
      %th{ colspan: '3' }

  %tbody
    - @users.each do |user|
      %tr
        %td= user.surname
        %td= user.name
        %td= user.father
        %td= user.telephone
        %td= user.mobile
        %td= user.dob
        %td= user.email
        %td= user.address
        %td= user.activitybtn btn-success
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: "Σίγουρα επιθυμείτε διαγραφή του χρήστη #{@user.surname} #{@user.name}" }
%br

= link_to new_user_path, class: 'btn btn-success' do
  .fa.fa-plus
  Προσθήκη Χρήστη
